body{
    padding: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(/static/background.jpg);
    margin: 0;
}
header{
    background-color: darkgray !important;
    opacity: 0.8;
    height: 60px;
}
a{
    color: black !important;
    font-style: oblique;
    font-size: larger;
}
nav{
    padding-top: 15px;
    padding-bottom: 15px;
}
.main{
    position: center;
    background-color: aquamarine;
    align-content: center;
}
