{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block header %}
              <nav class="site-header sticky-top navbar navbar-light navbar-expand-md bg-light" >
                  <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse justify-content-center" id="menu">
                      <ul class="navbar-nav">
                          <li class="nav-item active">
                              <a class="py-2-none d-md-inline-block nav-link" href="/">Strona główna</a>
                          </li>
                          <li class="nav-item">
                              <a class="py-2-none d-md-inline-block nav-link" href="/maps/index">Mapa</a>
                          </li>
                      </ul>
                  </div>
              </nav>
{% endblock %}
{% block content %}
          <div class="row p-5">
                <div class="col mt-auto mb-auto">
                    <div class="login-box" >
                      <div class="login-header">Login</div>
                      <div class="login-body">
                        <p>Please enter your username and password</p>
                        <form class="form-group" action="{{ url_for('auth.login') }}" method="post">
                            <label>Username</label>
                            <input type="text" class="form-control" name="username" placeholder="Username" id="username" required>
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" placeholder="Password" id="password" required>
                            <input type="checkbox" value="checked"><b>Remember</b>
                            <input type="submit" value="Login" class="form-control btn btn-success " name="">
                        </form>
                        {% with messages = get_flashed_messages()  %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{ message }}
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                          </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <p>No account <a href="{{ url_for('auth.register') }}">Register</a></p>
                      </div>
                     </div>
                </div>

            </div>
{% endblock %}